[Unit]
Description=qBittorrent
After=network-online.target local-fs.target
BindsTo=mnt-christa-downloads.mount

[Service]
Type=simple
User=qbittorrent
ExecStart=/usr/bin/qbittorrent-nox

[Install]
WantedBy=multi-user.target
